{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'components/_navbar.html.twig' %}

    <section class="home">
        <div class="home-left">
            <h1> Ton mood board, partout et quand tu veux</h1>
            <p>Ici, tu pourra créer tes mood board avec non seulement des images, mais aussi des vidéos et des musiques.</p>

            <ul>
                <li>Ajoute :
                    <ul>
                        <li>
                            des photos
                        </li>
                        <li>
                            des videos youtubes
                        </li>
                        <li>
                            des musiques à partir de spotify ou apple music
                        </li>
                    </ul>
                </li>

                <li>
                    Choisi de rendre ton board public ou privé
                </li>

                <li>Retrouve les mood board que tu as liké ! </li>
            </ul>
        </div>

        <div class="home-right">
            {{ include("./user/auth/login.html.twig") }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

