*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  width: 100%;
}

.contain{
  margin-left: 6rem;
}

.collection-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem;
}

.card{
  position: absolute;
  width: 10rem;
  height: 13rem;
  border-radius: 10px;
}

.card-1{
  transform: rotate(4deg) ;
  background: rgba(216, 218, 224, 0.44);
}
.card-2{
  transform: rotate(12deg) ;
  background: rgba(217, 222, 211, 0.81);
}
.card-3{
  transform: rotate(-7deg);
  background: rgba(81, 86, 199, 0.36);
}

.card-4{
  background: rgba(226, 187, 255, 0.77);
}

.card-title{
  z-index: 5;
  margin-left: -12rem;
  margin-top: 5rem;
}
