*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  width: 100%;
}

.contain{
  margin-left: 18rem;
}

.collection-container{
  display: inline-flex;
  justify-items: center;
  position: relative;
}

.card{
  position: absolute;
  width: 10rem;
  height: 13rem;
  border-radius: 10px;
}

.collection .card-1{
  background: #8f9acd;
}
.collection .card-2{
  transform: rotate(12deg) ;
  background: white;
}
.collection .card-3{
  transform: rotate(20deg);
  background: #B0413E;
}

.card-title{
  position: relative;
}
