<form method="post" action="{{ path('compilation_delete', {'id': compilation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compilation.id) }}">
    <button class="btn"><ion-icon name="trash-outline" size="large"></ion-icon></button>
</form>
