{% extends 'base.html.twig' %}

{% block title %}Edit Compilation{% endblock %}

{% block body %}
    <h1>Edit Compilation</h1>

    {{ include('compilation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('compilation_index') }}">back to list</a>

    {{ include('compilation/_delete_form.html.twig') }}
{% endblock %}
