{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} Créer
{% endblock %}

{% block body %}
    {% include './components/_sidenav.thml.twig' %}
<div class="contain">

    <!-- create -->
    <div class="relative py-3 sm:max-w-4/5 w-4/5 mt-2 m-auto">
        {{ form_start(form) }}

        <div class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class=" mx-auto">
                    <h1 class="text-2xl font-semibold">Créer votre collection !</h1>
                <div class="divide-y divide-gray-200">
                    <div class="py-2 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                        {{ form_widget(form) }}
                        <div class="relative">
                            <button class="bg-blue-500 text-white rounded-md px-2 py-1">Créer!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./create -->
    {{ form_end(form) }}
</div>
{% endblock %}
