{% extends 'base.html.twig' %}

{% block title %}New Compilation{% endblock %}

{% block body %}
    <h1>Create new Compilation</h1>

    {{ include('user/compilation/_form.html.twig') }}

    <a href="{{ path('compilation_index') }}">back to list</a>
{% endblock %}
