{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="relative">
    <button class="bg-blue-500 text-white rounded-md px-2 py-1 mt-4">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
